<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
      <ion-title>TRANSPORT LISTINGS</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>
      <ion-item tappable *ngFor="let event of transList" routerLink="/tabs/event-detail-transport/{{event.id}}">
         <ion-card>
            <ion-card-content>

               <ion-img padding-bottom="5" class="full-image" src="assets/images/image_placeholder_small.png"></ion-img>

               <p>Space Available: <span>{{event?.height + "x" + event?.width + "x" + event?.length}}m3</span></p>
               <p>Freight Offer: <strong>${{event?.freightPrice}}   </strong></p>
               <p>Date to be Sent: <strong>{{event?.transDate}}       </strong></p>
               <p>Start Location: <strong>{{event?.startLocation}}   </strong></p>
               <p>Destination: <strong>{{event?.destination}}     </strong></p>
            </ion-card-content>
         </ion-card>
      </ion-item>
   </ion-list>
</ion-content>
