<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>DETAILS</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-card>
      <ion-card-header>
         Item Name:           <span>{{currentEvent?.itemName}}</span>
      </ion-card-header>
      <ion-card-content>
         <p>Price Offer:      <strong>${{currentEvent?.offerPrice}}</strong></p>
         <p>Date to be Sent:  <strong>{{currentEvent?.sendDate}}</strong></p>
         <p>Start Location:   <strong>{{currentEvent?.startLocation}}</strong></p>
         <p>Destination:      <strong>{{currentEvent?.destination}}</strong></p>
         <p>Phone:            <strong>{{currentEvent?.mobile}}</strong></p>
      </ion-card-content>
   </ion-card>
</ion-content>
<!--  <ion-card class="add-guest-form">-->
<!--    <ion-card-header> Add Guests </ion-card-header>-->
<!--    <ion-card-content>-->
<!--      <ion-row>-->
<!--        <ion-col size="8">-->
<!--          <ion-item>-->
<!--            <ion-label position="stacked">Name</ion-label>-->
<!--            <ion-input [(ngModel)]="guestName" type="text" placeholder="What's your guest's name?"></ion-input>-->
<!--          </ion-item>-->
<!--        </ion-col>-->

<!--        <ion-col size="4">-->
<!--          <ion-button (click)="takePicture()">-->
<!--            <ion-icon slot="icon-only" name="camera"></ion-icon>-->
<!--          </ion-button>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--      <span *ngIf="guestPicture">Picture taken!</span>-->

<!--      <ion-button color="primary" expand="block" (click)="addGuest(guestName)" [disabled]="!guestName">-->
<!--        Add Guest-->
<!--      </ion-button>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->

