<ion-header>
  <ion-toolbar>
    <ion-title>
      Transporter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form onsubmit="processForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleEmailValue(event)"></ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="stacked">Address<ion-text color="danger">*</ion-text></ion-label>
        <ion-input placeholder="Street number & name" required type="text" oninput="handleStreetValue(event)"></ion-input>
        <ion-input placeholder="City" required type="text" oninput="handleCityValue(event)"></ion-input>
        <ion-input placeholder="Post Code" required type="text" oninput="handlePostCodeValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Phone<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="number" oninput="handlePhoneValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Create Listing</ion-button>
    </div>
  </form>

</ion-content>
