<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>New T Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Starting Location</ion-label>
    <ion-input [(ngModel)]="startLocation" type="text" placeholder="Where is your starting location?">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Destination</ion-label>
    <ion-input [(ngModel)]="destination" type="text" placeholder="Delivery destination">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Departure</ion-label>
    <ion-datetime [(ngModel)]="transDate" min="2017"
                  max="2020-12-31" placeholder="When does your journey start?">
    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Freight Price</ion-label>
    <ion-input [(ngModel)]="freightPrice" type="number" placeholder="Cost for you to transport goods?">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Item Height</ion-label>
    <ion-input [(ngModel)]="height" type="number" placeholder="The height of available space">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Item Width</ion-label>
    <ion-input [(ngModel)]="width" type="number" placeholder="The width of available space">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Item Length</ion-label>
    <ion-input [(ngModel)]="length" type="number" placeholder="The length of available space">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Phone</ion-label>
    <ion-input [(ngModel)]="mobile" type="number" placeholder="Contact details?">
    </ion-input>
  </ion-item>

  <ion-button expand="block" class="darkGreen" (click)="createTransportEvent(
            startLocation,
            destination,
            transDate,
            freightPrice,
            height,
            width,
            length,
            mobile)">
    Create Transport Listing
  </ion-button>
</ion-content>
