<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>DETAILS</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-card>
      <ion-card-header>
         Space Available: <span>{{currentEvent?.height+"x"+currentEvent?.width+"x"+currentEvent?.length}}</span>
      </ion-card-header>
      <ion-card-content>
         <p>Freight Offer:    <strong>${{currentEvent?.freightPrice}}   </strong></p>
         <p>Departure:        <strong>{{currentEvent?.transDate}}       </strong></p>
         <p>Start Location:   <strong>{{currentEvent?.startLocation}}   </strong></p>
         <p>Destination:      <strong>{{currentEvent?.destination}}     </strong></p>
         <p>Phone:            <strong>{{currentEvent?.mobile}}          </strong></p>
      </ion-card-content>
   </ion-card>
</ion-content>
