ion-content{
  --ion-background-color:#F4F4EA;
}
ion-header{
  --ion-toolbar-background:#F4F4EA;
}
ion-card{
  --background: WHITE;
}
.text-size{
  font-size: large;

}
.text-size-xlarge{
  font-size: x-large;

}
