ion-content{
  --ion-background-color:#F4F4EA;
}
ion-header{
  --ion-toolbar-background:#F4F4EA;
}
ion-card{
  --background: WHITE;
}
ion-img{
  --size: small;
}
.full-image {
  width: 60%;
  height: 40%;
}
