<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
      <ion-title>New Send Listing</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-item>
      <ion-label position="stacked">Item Name</ion-label>
      <ion-input [(ngModel)]="itemName" type="text" placeholder="What's your item?">
      </ion-input>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Starting Location</ion-label>
      <ion-input [(ngModel)]="startLocation" type="text" placeholder="Preferred pick up location">
      </ion-input>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Destination</ion-label>
      <ion-input [(ngModel)]="destination" type="text" placeholder="Delivery destination">
      </ion-input>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Date to be sent</ion-label>
      <ion-datetime [(ngModel)]="sendDate" min="2017"
                    max="2020-12-31" placeholder="When would you like the item sent?">
      </ion-datetime>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Price Offer</ion-label>
      <ion-input [(ngModel)]="offerPrice" type="number" placeholder="How much will you pay to send?">
      </ion-input>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Item Height</ion-label>
      <ion-input [(ngModel)]="height" type="number" placeholder="The height of your item">
      </ion-input>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Item Width</ion-label>
      <ion-input [(ngModel)]="width" type="number" placeholder="The width of your item">
      </ion-input>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Item Length</ion-label>
      <ion-input [(ngModel)]="length" type="number" placeholder="The length of your item">
      </ion-input>
   </ion-item>

   <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input [(ngModel)]="mobile" type="number" placeholder="Contact details?">
      </ion-input>
   </ion-item>

   <ion-button expand="block" class="darkGreen" (click)="createEvent(
            itemName,
            startLocation,
            destination,
            sendDate,
            offerPrice,
            height,
            width,
            length,
            mobile)">
      Create Sender Listing
   </ion-button>
</ion-content>
